

%flex {
    display: flex;
}

.mealplanContainer1 {
    @extend %flex;
    justify-content: space-between;
    @extend %border;
}

.mealplanContainer2 {
    @extend %flex;
    @extend %border;
}

.section {
    @extend %border;
    display: flex;
    flex-direction: column;
}