@import '../variables';

.mealplan_container {
    padding-top: 15px;
    padding-left: 10px;
    display: flex; 
    flex-direction: column;

    h1 {
        text-align: center;
    }
}

.mealplan_section {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    max-width: 550px;
}

.mealplan_section_foodList {
    @extend %border;
    height: 420px; 
    width: 250px; 
    overflow: auto;

    button {
        font-size: 12px;
    }
}


.mealplan_mealList_container {
    display: flex;
    justify-content: space-between;
    div {
        min-width: 180px;
    }
}

.mealplan_directions {
    li {
        list-style-type: circle;
    }
}

