@import '../variables';

.nav_container {
    background-color: $stone;
    font-size: $primary-font-size-paragraph;
}

.nav_tablist {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: $shadow;
  min-height: 40px;
  min-width: 140px;
  border: 1px solid black;
}


.nav_tabButton1 {
  color: $shadow;
}

.nav_tabButton2 {
  padding-bottom: 2px;
 }

.navMenuList {
    height: 0;
    margin: 0;
    transition: .75s;
    opacity: 0;
    overflow: hidden;
  }
  
  .open {
    margin-top: 15px;
    padding-left: 15px;
    opacity: 1;
    height: 180px;
  
  }
  
  .navMenuOption {
    color: $text-color;
    text-decoration: none;
  }
  
  li {
  list-style-type: none;
  }