@import '../variables';

.profile_container {
    padding-top: 15px;
    padding-left: 10px;
    display: flex; 
    flex-direction: column;

    h1 {
        text-align: center;
    }

    img {
        max-width: 200px;
        max-height: 200px;
    }
    
    select {
        max-width: 100px;
        background: $stone;
        color: white;
    }

    button {
        width: 150px;
    }
}

.profile_user_section {
    display: flex; 
    flex-direction: column; 
    justify-content: space-around;
}