.mealplanContainer1 {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mealplanContainer2 {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
}

.mealList {
    display: flex;
    flex-direction: column;
}

.section {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

li {
    list-style: disc;
}