@import './variables';

 body {
    margin: 0;
    padding: 0;
    font-family: $primary-font-family;
    color: $text-color;
    background: {
          image: url('../images/wood-wallpaper-elegant.jpg');
          size: cover;
          repeat: no-repeat;
          attachment: fixed;
        }
    p {
      font-size: $primary-font-size-paragraph-small;
    }
    h1 {
      font-size: $primary-font-size-header-small;
    }
  }

button {
  color: $text-color;
  background-color: $stone;
  font-family: $primary-font-family;
  border-radius: 10px;
  border: 2px solid white;
  max-width: 250px;
}

input {
  max-width: 250px;
}

li {
  list-style-type: none;
  }

%border {
  border: 2px solid white;
}

%circle {
	width: 150px;
  height: auto;
  border-radius: 50%;
}

