

@mixin box( $imageHeight, $imageWidth, $font-size-paragraph, $font-size-header) {
    div {
        display: flex;
        flex-direction: column;
    } 
    h1 {
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 4px;
        font-size: $font-size-header;
    }
    h3 {
        padding-left: 10px;
        padding-bottom: 3px;
    }
    img {
        padding-left: 10px;
        max-height: $imageHeight;
        max-width: $imageWidth;
    }
    p {
        font-size: $font-size-paragraph;
        padding: 0 10px;
    }
    li {
        padding-left: 10px;
    }
}