@import './variables';
@import './mixins';

// Phone
.large {
    display: none;
}



// Tablet 
@media (min-width: 600px) {
    %circle {
        width: 250px; 
    }
}



// Website 
@media (min-width: 1000px) {
    .small {
        display: none;
    }

    .large {
        display: initial;
    }

    body {
        p {
            font-size: $primary-font-size-paragraph-large;
        }
        h1 {
            font-size: $primary-font-size-header-large;
        }
        h3 {
            font-size: $secondary-font-size-header-large;
        }
    }

    button {
        font-size: $primary-font-size-button-large;
    }
    
    %circle {
        width: 350px; 
    }

    // Nav Bar
    .navMenuOption  {
        font-size: $primary-font-size-paragraph-large;
    }

    // Glossary 
    .nutrients_container {
        @include box($style2...);
        li {
            font-size: $primary-font-size-paragraph-large;
        }
    }

    // Meal plan 
    .mealplan_container {
        padding-left: 0;
    }

    .mealplan_row {
        border: 2px dashed $stone;
        border-bottom: 2px dashed $stone;
        box-shadow: inset 1px 0 $stone, inset -1px 0 $stone, 0 1px $stone, 0 -1px $stone;
        margin-bottom: 1px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    // Profile 
    .profile_container {
        select {
            font-size: 17px;
            max-width: 150px;
        }
        button {
            width: 200px;
        }
    }

    .profile_row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

}