// ==== COLORS ==== // 

$autumn-foliage: #763626;
$stone: #336B87;
$mist: #90AFC5;
$shadow: #2A3132;
$text-color: #eee;


// ==== FONTS ==== // 

$primary-font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$primary-font-size-paragraph: 12px;

// ==== STYLES ==== // 

// Height, Width, Font-size
$style1: 60px, 80px, 12px