// ==== COLORS ==== // 

$autumn-foliage: #763626;
$stone: #336B87;
$mist: #90AFC5;
$shadow: #2A3132;
$text-color: #eee;


// ==== FONTS ==== // 

$primary-font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$primary-font-size-paragraph-small: 15px;
$primary-font-size-paragraph-large: 20px;
$primary-font-size-button-large: 17px;
$primary-font-size-header-small: 20px;
$primary-font-size-header-large: 27px;
$secondary-font-size-header-large: 23px;


// ====  IMAGES ==== // 
$image-height-small: 80px; 
$image-width-small: 100px;
$image-height-large: 150px; 
$image-width-large: 175px;

// ==== STYLES ==== // 

// Height, Width, Font-size
$style1: $image-height-small, $image-width-small, $primary-font-size-paragraph-small, $primary-font-size-header-small;
$style2: $image-height-large, $image-width-large, $primary-font-size-paragraph-large, $primary-font-size-header-large;