.navContainer {
    background-color: #25C1D1;
}

.navMenuList {
    height: 0;
    margin: 0;
    transition: .5s;
    opacity: 0;
    overflow: hidden;
  }
  
  .open {
    margin-top: 15px;
    opacity: 1;
    height: 180px;
  
  }
  
  .navMenuOption {
    color: white;
    text-decoration: none;
  }
  
  li {
  list-style-type: none;
  }